* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.service-container {
  padding: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -50px;
  gap: 10px;
  overflow-x: hidden;
}

.service-title h1 {
  color: #ad3da3;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}

.service-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.service-detail {
  max-width: 100%;
  text-align: center;
  padding: 10px; 
}

.service-detail h2 {
  color: #ad3da3;
  font-size: 28px;
  line-height: 1.0;
}

.serviceImg {
  width: 100%;
  height: auto; 
  margin: 10px 0;
  border-radius: 2px;
}

.spanImage {
  margin-top: 36px;
}


@media (max-width: 1100px) {
  .service-content {
    justify-content: center;
    gap: 20px;
  }

  .service-detail {
    max-width: 100%;
    flex: 1 1 30%;
  }

  .serviceImg {
    width: 70%;
    height: auto;
    object-fit: cover;
  }

  .service-detail h2 {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .service-detail {
    max-width: 100%;
    flex: 1 1 100%;
  }

  .serviceImg {
    width: 80%;
    height: auto;
    object-fit: cover;
  }

  .service-detail h2 {
    font-size: 24px;
  }

  .service-desc {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .service-content {
    flex-direction: column;
    align-items: center;
  }

  .service-detail {
    max-width: 80%;
    margin-bottom: 50px;
  }

  .serviceImg {
    width: 80%;
    height: auto;
    object-fit: cover;
  }

  .service-detail h2 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .serviceImg {
    width: 100%;
    height: auto; 
  }
}

@media (max-width: 420px) {
  .service-content {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .serviceImg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .service-detail {
    max-width: 100%;
    padding-bottom: 50px;
  }

  .service-detail h2 {
    font-size: 18px;
  }
}
