
.about-container {
  position: relative;
  width: 100%;
  min-height: 400px;
  padding: 80px 12%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  z-index: 1;
}

.about-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(173, 61, 163, 0.5), rgba(173, 61, 163, 0.5)),
    url('../../assets/hero.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
  transform: scale(1.05);
}

.about-us {
  display: flex;
  gap: 80px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}

.about-title {
  margin-right: 60px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-right {
  flex: 1;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  max-width: 700px;
  margin-right: 80px;
  padding: 0 70px;
}

.about-right p {
  gap: 20px;
}


@media (max-width: 1200px) {
  .about-right {
    line-height: 1.6;
    max-width: 700px;
    margin-right: 40px;
    padding: 0 40px;
  }
}

@media (max-width: 1000px) {
  .about-container {
    padding: 60px 8%;
    min-height: 350px;
  }

  .about-us {
    gap: 40px;
    justify-content: center;
  }

  .about-title {
    font-size: 26px;
    margin-right: 30px;
    text-align: center;
  }

  .about-right {
    margin-right: 30px;
    font-size: 15px;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
    gap: 30px;
  }

  .about-title {
    margin-right: 0;
    font-size: 24px;
  }

  .about-right {
    text-align: center;
    font-size: 15px;
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .about-container {
    padding: 40px 6%;
  }

  .about-title {
    font-size: 22px;
  }

  .about-right {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .about-title {
    font-size: 20px;
  }

  .about-right {
    text-align: center;
    margin-left: 30px;
    font-size: 13px;
    line-height: 1.5;
  }
}
